/**
Setup some css variable for an easy use in the app
 */
:root {
  --exporter-darker: #22252b;
  --exporter-dark: #2d313b;
  --exporter-dark-light: #3b4252;
}

.bg-exporter-dark-light {
  background-color: var(--exporter-dark-light);
}

.bg-exporter-darker {
  background-color: var(--exporter-darker);
}

.bg-exporter-dark {
  background-color: var(--exporter-dark);
}

body {
  padding: 0px;
  font-family: sans-serif;
}
