<template name="exportComponent">
    <div class="d-flex flex-column bg-exporter-dark rounded" style="width: fit-content; height: fit-content">
        <div class="bg-exporter-dark-light p-2 rounded-top">
            <p class="m-0 text-white">{{ name }}</p>
        </div>
        <div class="p-2 d-flex flex-column gap-2">
            {{#if isExporting }}
                <div class="bg-white rounded" style="width: 300px; height: 32px">
                    <div class="bg-info rounded" style="width: {{ getPercent }}; height: 32px"></div>
                </div>
            {{else}}
                <div class="bg-white rounded p-1" style="width: 300px; height: fit-content">
                    <div>{{getText}}</div>
                </div>
            {{/if}}
            <div class="d-flex justify-content-center">
                {{#if isNotExporting }}
                    <button id="deleteExportButton" class="btn btn-danger py-1" style="width: fit-content; font-size: 14px">Delete</button>
                {{/if}}
            </div>
        </div>
    </div>
</template>
